<div class="header">
  <ion-header>
    <ion-toolbar color="colorbkn">
      <img src="assets/logo.png" class="header-logo" />
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="submit()">
    <div class="ion-padding">
      <ion-title class="title"> Restablece tu contraseña </ion-title>
    </div>
    <div>
      <ion-item>
        <ion-input
          placeholder="Ingresa tu correo"
          class="input"
          required
          type="email"
          aria-label="email"
          name="email"
          formControlName="email"
        ></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-button class="recuperar" type="submit"
        >Recuperar</ion-button
      >
    </div>
    <div class="signup">
      <p>¿No es lo que buscabas? <a [routerLink]="['/login']">Inicia sesión</a></p>
    </div>
  </form>
</ion-content>
