.input {
    font-size: 300;
    --color: #000;
}

ion-item {
    --background:#f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}

ion-header {
    height: 11rem; 
    background-color: #151574;
}

ion-toolbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    background-color: #151574;
}

.signup {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;

    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
}

.title{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 1rem;
    text-align: center;
}

.iniciar {
    display: flex;
    justify-content: center;
    --background:#151574;
}

.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Ajusta esto al tamaño que desees para la imagen */
}

