ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #151574;
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.iniciar {
  display: flex;
  justify-content: center;
  --background: #151574;
  --color:#ffff00;
}

.container {
  margin: auto;
  flex-direction: row;
  align-content: center;
  position: absolute;
  justify-content: center;
  left: 0;
  bottom: 0;
  right: 0;
}
